.dash_TrendCard {
  background: linear-gradient(90deg, gray, lightgray 100%);
  border-radius: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  padding-left: 2rem;
}

.dash_trend {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dash_trend > span:nth-of-type(1) {
  font-weight: bold;
}
.dash_trend > span:nth-of-type(2) {
  font-size: 0.8125rem;
}
