@media (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}
@media (min-width: 992px) {
    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
    }
}

.pt-100 {
    padding-top: 100px !important;
}

.color-gray-600 {
    color: #7f92b0;
}

.text-sm-bold {
    font-weight: 700;
    font-family: Noto Sans,sans-serif;
    font-size: 14px!important;
    line-height: 20px!important;
}

.animate__fadeInUp {
    animation-name: fadeInUp;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0,100%,0);
    }
    
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

span {
    transition: all .3s ease 0s;
}

.mb-20 {
    margin-bottom: 20px!important;
}
.mt-20 {
    margin-top: 20px!important;
}
.color-gray-50 {
    color: #e6f0ff;
}

.Typewriter {
    display: inline-block;
}
.wow {
    font-weight: 700;
    font-size: 4rem;
    line-height: 70px;
    letter-spacing: 1px;
    vertical-align: baseline;
    display: inline-block;
}


.color-linear {
    background: linear-gradient(90deg, #ff4010, #c26c0a 51%, #ff5410) var(--x, 0)/200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-base {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 80%;
}

.box-subscriber .inner-subscriber {
    position: relative;
    max-width: 390px;
    display: flex;
    padding: 10px;
    background: linear-gradient(#222f43,#222f43) padding-box,linear-gradient(90deg,#0ea5ea,#0bd1d1) border-box;
    border-radius: 8px;
    border: 1px solid transparent;
    width: 100%;
}
.mb-50 {
    margin-bottom: 50px!important;
}
.mt-40 {
    margin-top: 40px!important;
}

form {
    display: block;
    margin-top: 0em;
}
.d-flex {
    display: flex!important;
}
.input-sybscriber {
    width: 16rem;
    margin-right: .5rem;
    font-size: 1rem;
    background-color: transparent;
    outline: none !important;
    color: #7f92b0;
    overflow: visible;
}

.box-subscriber .inner-subscriber {
    min-width: 120px;
}

.btn.btn-linear {
    background: linear-gradient(90deg,#0ea5ea,#0bd1d1 51%,#0ea5ea) var(--x,0)/200%;
    color: #fff;
    transition: .5s;
}
button:not(:disabled) {
    cursor: pointer;
}
.btn {
    border-radius: 6px;
    padding: 10px 16px;
    font-family: Noto Sans,sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    display: inline-block;
    border: 0;
}
/* .pattern-1 {
    position: absolute;
    top: 33%;
    left: 0;
}
.pattern-2 {
    position: absolute;
    top: 18%;
    right: 15%;
    animation: hero-thumb-animation 2s linear infinite alternate;
} */

/* .pattern-3 {
    position: absolute;
    bottom: 4%;
    left: 9%;
    animation: hero-thumb-animation 2s linear infinite alternate;
} */

/* .pattern-4 {
    position: absolute;
    bottom: 37%;
    right: 4%;
    animation: wiggle 2s linear infinite alternate;
} */


.banner-img {
    position: relative;
    text-align: center;
}

.banner-img:before {
    content: "";
    position: absolute;
    bottom: -200px;
    left: -140px;
    height: 500px;
    width: 500px;
    background: url(/_next/static/media/shadow-2.5ab01ec0.svg) no-repeat 50%;
    background-size: contain;
    z-index: 1;
}

.banner-img {
    z-index: 3;
    position: relative;
    display: block;
    margin: auto;
}

.pattern-1 {
    position: absolute;
    top: -20rem;
    left: 10%;
    animation: animationFramesOne 20s linear infinite alternate;
}

.pattern-2 {
    position: absolute;
    top: -22rem;
    right: 30%;
    animation: hero-thumb-animation 2s linear infinite alternate;
    animation: rotateMe 10s linear infinite alternate;
}


.pattern-3 {
    position: absolute;
    bottom: 4%;
    left: 19%;
    animation: hero-thumb-animation 2s linear infinite alternate;
}

.pattern-4 {
    position: absolute;
    bottom: 37%;
    right: 14%;
    animation: wiggle 2s linear infinite alternate;
}
@keyframes hero-thumb-animation {
    0% {
        transform: translateY(-20px);
    }
    
    100% {
        transform: translateY(0);
    }
}

@keyframes wiggle {
    0%, 100% {
        transform: scale(1.2) rotate(7deg);
    }
    
    50% {
        transform: scale(.8) rotate(-7deg);
    }
}

@keyframes animationFramesOne {
    0% {
        transform: translate(0) rotate(0deg)
    }

    20% {
        transform: translate(73px,-1px) rotate(36deg)
    }

    40% {
        transform: translate(141px,72px) rotate(72deg)
    }

    60% {
        transform: translate(83px,122px) rotate(108deg)
    }

    80% {
        transform: translate(-40px,72px) rotate(144deg)
    }

    to {
        transform: translate(0) rotate(0deg)
    }
}
@keyframes rotateMe {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.box-subscriber {
    position: relative;
    max-width: 390px;
}

.box-subscriber .inner-subscriber {
    display: flex;
    padding: 10px 10px 10px 20px;
    background: linear-gradient(#222f43,#222f43) padding-box,linear-gradient(90deg,#0ea5ea,#0bd1d1) border-box;
    border-radius: 8px;
    border: 1px solid transparent;
}

.box-subscriber .inner-subscriber:hover {
    box-shadow: 0 3px 20px rgba(11,209,209,.2);
}

.box-subscriber .inner-subscriber form {
    width: 100%;
}

.box-subscriber .inner-subscriber .input-sybscriber {
    width: 100%;
    background-color: transparent;
    border: 0;
}

.box-subscriber .inner-subscriber .btn-arrow-right {
    min-width: 120px;
}

.box-subscriber .inner-subscriber .btn-arrow-right i {
    display: inline-block;
    vertical-align: middle;
}

.box-topics {
    border-radius: 8px;
    padding: 24px;
    border-width: 1px;
    border-style: solid;
}

.box-author {
    display: flex;
    align-items: center;
}

.box-author img {
    display: inline-block;
    margin-right: 15px;
    height: 48px!important;
    width: 48px!important;
    border-radius: 50%!important;
}

.box-author .author-info {
    width: 100%;
}

.mb-70 {
    margin-bottom: 70px!important;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}
@media (min-width: 992px) {
    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }
}

.mb-15 {
    margin-bottom: 15px!important;
}
.color-white {
    color: #b9e0f2;
}
.color-white {
    color: #b9e0f2!important;
}
.animate__fadeInUp {
    animation-name: fadeInUp;
}
h5, h6 {
    font-family: Noto Sans,sans-serif;
    font-weight: 700;
    color: #000;
}
h5 {
    font-size: 20px;
    line-height: 27px;
}

.swiper-button-prev-style-1 {
    left: 0;
    transition: all .2s;
    height: 32px;
    width: 32px;
    top: 50%;
}

.swiper-button-prev {
    position: absolute;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color,var(--swiper-theme-color));

    left: 10px;
    right: auto;
    background: url(/_next/static/media/prev.93ac0394.svg) no-repeat 0 0;

    top: 50%;
}