.Icon {
  background: linear-gradient(90deg, gray, lightgray 100%);
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  padding: 0.5rem;
}

.Icon:hover {
  background: transparent;
  color: gray;
  cursor: pointer;
}

.navIcons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.r-button {
  align-self: center;
  height: 3rem;
  width: 80%;
}

.RightSide {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
