.dash_Icon {
  background: linear-gradient(to right,  rgba(163, 89, 15),rgb(0, 130, 173), rgb(29, 15, 163));
  box-shadow: inset 0 4px 30px rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  padding: 0.5rem;
}

.dash_Icon:hover {
  background: transparent;
  color: rgba(163, 89, 15);
  cursor: pointer;
}

.dash_navIcons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.dash_r-button {
  align-self: center;
  height: 3rem;
  width: 100%;
}

.dash_RightSide {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
