.dash_Auth {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 100vh;
  position: relative;
}

.dash_Auth > div {
  align-items: center;
  display: flex;
  justify-content: center;
}

.dash_top {
  gap: 2rem;
}

.dash_top > img {
  height: 7rem;
  width: 7rem;
}

.dash_Webname > h1 {
  background-repeat: repeat;
  background-size: 100%;
  background: linear-gradient(90deg, gray, lightgray);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-size: 3rem;
}

.dash_Webname > h2 {
  color: white;
  font-size: 1.5rem;
}

.dash_authForm {
  background: linear-gradient(90deg, gray, lightgray);
  border-radius: 1rem;
  padding: 1rem;
}

.dash_authForm > div {
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dash_infoButton {
  align-self: flex-end;
  height: 2rem;
  width: 6rem;
}

.dash_infoForm {
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.dash_infoForm > div {
  display: flex;
  gap: 1rem;
  height: 2rem;
  width: 90%;
}

.dash_infoInput {
  background-color: whitesmoke;
  border: none;
  border-radius: 0.5rem;
  flex: 1;
  outline: none;
  padding: 1rem;
}

.dash_warnigMessage {
  color: "red";
  font-size: "12px";
  align-self: "flex-end";
  margin-right: "5px";
}

.dash_infoForm > .dash_button {
  align-items: center;
  background: linear-gradient(90deg, gray, lightgray 100%);
  border: none;
  border-radius: 0.5rem;
  color: white;
  display: flex;
  justify-content: center;
  transition: all 100ms ease-out;
}

.dash_infoForm > .dash_button:hover {
  background: transparent;
  color: gray;
  cursor: pointer;
}
