.dash_detail{
  color: white;
}

.dash_Post {
  background: linear-gradient(90deg, gray, lightgray 100%);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.dash_Post > img {
  border-radius: 0.3125rem;
  max-height: 20rem;
  width: 100%;
}

.dash_postReact {
  align-items: flex-start;
  display: flex;
  gap: 1.5rem;
}

.dash_reactIcon {
  cursor: pointer;
}
