.InfoCard {
  background-color: whitesmoke;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
  width: 90%;
}

.infoHead {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.infoHead > div:hover {
  cursor: pointer;
}

.logout-button {
  align-self: flex-end;
  height: 2rem;
  margin-top: 6rem;
  width: 7rem;
}
