/* Theory AREA */

/* EDITOR AREA */

.editor_wrapper {
  line-height: 1.5;
}

.code_editor {
  width: 100%;
  height: 20vh;
  background-color: white;

  color: black;
}

.tab_nav {
  display: flex;
}

.tab_item {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}

.tab_item:hover {
  background: rgba(50, 224, 196, 0.15);
}

.tab_active {
  background-color: aqua;
}

.tab_content {
  color: white;
  background-color: gray;
}

/* output area */

.output_window {
  background-color: white;
}

.editor_buttons_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}
